.stock-form-container {
    display: none;
    padding: 20px;
    width: 50%;
    min-width: 400px;
    background-color: #f9f9f9;
    border-radius: 8px;
    margin: 20px 0;
  }

  .stock-form-container h2{
    text-align: center;
    padding: 20px;
  }
  
  .insert-form {
    display: flex;
    flex-direction: column;
  }
  
  .insert-form label {
    margin-bottom: 15px;
    font-weight: bold;
    color: #333;
  }
  
  .insert-form input, .insert-form select {
    width: 90%;
    display: block;
    padding: 8px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    background-color: #fff;
    margin-top: 5px;
  }
  
  .insert-form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #61b937;
  }
  
  .stock-form-container.insert-form-visible{
    display: initial;
  }
  